python >=3.7.2
	"https://www.python.org/downloads/"

pip >=19.0.3
	When installing Python choose custom install and select install pip
		OR
	CMD "python -m pip install --upgrade pip"

pygame >=1.9.4
	CMD "python -m pip install pygame"